<IfModule mod_rewrite.c>
    RewriteEngine On

    # Handle requests to non-existent files and directories by redirecting to index.php
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>